.nameLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}


.nameLabel{
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: #101c54;
}
.nameLabel h1{
    font-size: 7vh;
}


.teamMembers{
    margin-left: 50px;
    margin-right: 50px;
    grid-template-rows: 2;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    grid-gap: 70px;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.oneMember {
    height: 40%;
    width: 15%;
    min-width: 150px;
    border-radius: 20px;
    grid-row: 1;
    text-align: center;
    opacity: 0; /* Начальное значение непрозрачности */
    transition: opacity 1s, transform 0.3s ease;
    animation: fadeIn 1s forwards; /* Применяем анимацию fadeIn */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneMember img {
    height: 70%;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Добавляем плавный переход при изменении transform */
}

/* При добавлении класса .show, элемент появляется */
.oneMember.show {
    opacity: 1; /* Конечное значение непрозрачности */
    transform: translate(0); /* Конечное значение смещения */
}

.oneMember:hover img {
    transform: scale(1.1); /* Увеличиваем размер картинки на 10% при наведении */
}

/* Применяем эффект увеличения к параграфам внутри .oneMember */
.oneMember p,
.oneMember p1 {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: #101c54;
    transition: font-size 0.3s ease; /* Добавляем плавный переход при изменении размера шрифта */
}

.oneMember:hover p,
.oneMember:hover p1 {
    font-size: 28px; /* Увеличиваем размер шрифта на 4px при наведении */
}

.points{
    height: 500px;
    display: flex;
    margin-top: 100px;
    justify-content: center;

}


.pts li{
    
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
    color: #101c54;
}

.pts span{
    color: #e29828;
}

.points img{
    margin-top: 3%;
    margin-left: 60px;
    margin-right: 60px;
    width: 400px;
    height: 260px;
}
@media (max-width:720px)
{
    .points img
{
    width:0px;
    height: 0px;
}
}
