.how__wrap
{
    animation: fadeIn 1s;
}
.head__how
{
    margin-top: 10%;
    text-align: center;
    font-size: 3.5vh;
    color: #101c54;
    margin-bottom: 5%;
}
.wrap__how {
    display: flex;
    margin-top: 0px;
    font-size: 2.5vh;
    font-weight: 600;
    position: relative;
    color: #101c54;
}
.how__desc {
    position: relative;
    text-align: center;
    z-index: 1;
    display: inline-block;
    margin-bottom: 10%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.icons {
    display: flex;
    flex-direction: column;
    flex: 1;
}




.icon-wrapper {
    position: relative; /* Ensure the parent is positioned */
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 15%;
}

.icon-wrapper p{
    margin-left: 10%;
}

.icon {
    z-index: 1;
    position: relative;
    height: 6vh;
    width: 6vh;
    border-radius: 50px;
    background-color: rgb(255, 115, 0);
    font-size: 1.8vh;
}

.icon::after {
    margin-top: 140%;
    content: ''; 
    position: absolute;
    top: 50%;
    left: calc(50% - 1.5px);
    transform: translateY(-50%);
    height: 200% ; 
    width: 4px;
    background-color: rgb(255, 115, 0);
    z-index: 1; 
}

.icon::before {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.text__area
{
    height: 60vh;
    background-color: white;
    border-radius: 30px;
    margin-right: 10%;
    margin-left: 40%;
    margin-top: 5%;
    margin-left: 2%;
    flex: 1;
    transition: 0.3s ease;
}
.text__area:hover
{
    transform: scale(1.05);
}
.text__area p {
    margin: 5% 2% 8% 5%;
}
.context
{
    color: rgb(255, 115, 0);
}
@media (max-width: 768px) {
    .wrap__how {
        flex-direction: column;
    }
    .head__how
    {
        margin-top: 20%;
    }

    .icons {
        order: -1;
    }
    .text__area{
        width: 320px;
    }
    .icon {
        height: 50px;
        width: 50px;
    }
    .icon-wrapper
    {
        margin-left: 2%;
    }
    .icon-wrapper p{
        margin-left: 10%;
    }
    .text__area
    {
        align-self: center;
        margin: 0px;
        margin-top: 20%;
        font-size: 20px;
    }
}

