.navbar{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;

}

.a {
    height: 100%;
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.logoP{
    justify-content: center;
    position: relative;
    height: 100%;

}

.logoP img{
    width: 130px;
    height: 130px;
}

.nav-menu{
    margin-top: 25px;
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-left: 55px;
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: none;
}


.nav-menu a{text-decoration: none;border-radius: 10px;background-color: transparent;color: rgb(7, 7, 88);font-weight: bold;}

.nav-menu a.active {
    background-color: rgb(146, 140, 140);
  }



