.linksReturn h1 {
    font-size: 7vh;
    justify-content: center;
    text-align: center;
    color: #101c54;
  }
  
  .linksReturn {
    margin-top: 10%;
    width: 100%;
    padding-bottom: 100%;
  }
  
  .partnerContainer {
    margin-top: 10%;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 4%;
    justify-content: center;

}

.partner {
    display: flex;
    min-width: 40%;
    max-width: 40%;
    height: 40%;
    background-color: rgb(155, 144, 144);
    flex-direction: column; /* Stack items vertically */

  align-items: center; /* Center items horizontally */
}

.partner img {
  margin-top: 5%;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  max-height: 25%;
}

.partner p{
  margin-top: 5%;
}
