@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container_home {
    width: 100%;
    min-height: 75vh; 
    margin-top: 20vh;
    display: flex;
    background-color: #e9e8e8;
    justify-content: center;
    animation: fadeIn 1s forwards;
}

.text_part {
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    flex: 1 1 40%; 
    position: relative;
}

.photo_part {
    max-width: 100%;
    width: 60%;
    height: 65vh; 
    flex: 1 1 60%;
    position: relative;
    background-image: url('./plane.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 60px 0px 0px 60px;
    margin-left: 5%;
}

.text_part h1 {
    font-size: 11vh;
    margin-bottom: 1%;
    margin-left: 5%;
    color: #101c54;
    margin-top: 5%;
    margin-left: 10%;
}

.text_part p {
    margin-left: 10%;
    font-size: 3vw;
    color: #e29828;
    font-weight: bold;
}

@media (max-width: 768px) {
    .text_part h1 {
        font-size: 70px;
        margin-bottom: 1%;
        color: #101c54;
    }
    .text_part p
    {
        font-size: 25px;
    }
    .text_part{
        order: 1;
        top: -10vh;
    }
    .photo_part{
        margin-top: 0;
        order: 2;
        border-radius: 0;
        margin-left: 0;
        height: 40vh;
        width: 100%;
        top: -15vh;
    }
    .container_home
    {
        flex-direction: column-reverse;
    }
}
